
# Maven build directory
/target/

# Eclipse, IntelliJ, NetBeans project files
/.classpath
/.project
/.settings/
/.idea/
/*.iml

# OS-specific
.DS_Store
Thumbs.db

# Build output directory (if you're using a custom one like /bin/)
bin/

# Compiled class files
*.class

# Logs
*.log

# Application config
**/application.properties

# Maven Wrapper
.mvn/
mvnw
mvnw.cmd
